* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
      background-image :  url("https://i.postimg.cc/vH5vMxfz/image.png");
  }
.nav-wrapper{
  opacity: 0.9;
}
.nav-wrapper a{
    color: #01579b;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    font-family: 'Righteous', cursive;
}
.sidenav a{
  color:#01579b;
}

/* image slider */
.img-slider{
  position: relative;
  width: 900px;
  height: 600px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.img-slider .slide img{
  z-index: 1;
  width: 80%;
  padding: 15px;
  border-radius: 50px;
  margin-left: 30%;
  opacity: 0.9;
}

/* image slider resonpsiveness */
@media (max-width: 920px){
  .img-slider .slide{
    width: 80%;
    margin-right: 45%;
  }
}
@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 420px){
  .img-slider .slide{
    width: 100%;
    margin-right: 64%; 
  }
}


