{% extends "base.html" %}
{% block content %}

<div class="row">
   <div class="col s8 m4 offset-m4 offset-s2">
      <!--Message to appear to user in case an  error occurs in application-->
      <div class="card-panel transparent center-align text-shadow">
         <p>
            Sorry! There seems to have been a problem, please click below to return to Games Reviews!
         </p>
      </div>
   </div>
</div>
 <div class="row">
    <div class="col s12">
       <p class="center-align">
          Return to application
          <a href="{{ url_for('index.html') }}"
             class="blue-text text-darken-4">Titan Colleague Portal</a>
       </p>
    </div>
 </div>

{% endblock %}