{% extends "base.html" %}
{% block content %}
<h3 class="hide"> Reviews </h3>
<p class="welcome"> Welcome to Games Review, this review site give the users full control. Want to add a game you can, Want to add a review you can so why not pick a game and leave a reivew today! </p>

<div class="slideshow-container">

  <div class="mySlides">""
    <q>"You don't get to live a bad life and have good things happen to you."</q>
    <p class="author">- Arthur Morgan</p>
  </div>

  <div class="mySlides">
    <q> “I used to be an adventurer like you, then I took an arrow to the knee.”</q> </q>
    <p class="author"> Whiterun Guard</p>
  </div>

  <div class="mySlides">
    <q>" Close your heart to their desperation, close your heart to their suffering, do not allow yourself to feel for them, they will not feel for you"</q>
    <p class="author"> Kratos</p>
  </div>

  <a class="prev" onclick="plusSlides(-1)"></a>
  <a class="next" onclick="plusSlides(1)"></a>

</div>

<div class="dot-container">
  <span class="dot" onclick="currentSlide1(1)"></span>
  <span class="dot" onclick="currentSlide1(2)"></span>
  <span class="dot" onclick="currentSlide1(3)"></span>
   </div>
</div>
  <div class="img-slider">
    <div class="slide active">
      <img src="{{url_for('static', filename='image/rdr2.png')}}" alt="1" aria-label="red dead 2">
    </div>
    <div class="slide">
      <img src="{{url_for('static', filename='image/codw.png')}}" alt="2" aria-label="warzone">>
    </div>
    <div class="slide">
      <img src="{{url_for('static', filename='image/skyrim.png')}}" alt="3" aria-label="skyrim">>
    </div>
    <div class="slide">
      <img src="{{url_for('static', filename='image/kartos.png')}}" alt="4" aria-label="GOW">
      </div>
  


{% endblock %}