<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cookie&family=Righteous&display=swap">
    <script src="https://kit.fontawesome.com/8f8d6e0652.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
   
 
    <title>Home</title>
</head>
<body>
  <header>
 
  <nav>
    <div class="nav-wrapper green darken-2">
      <a href="#!" class="brand-logo">Games Review</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('games') }}">Games</a></li>
        <li><a href="{{ url_for('reviews') }}">Reveiws</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Register</a></li>
        <li><a href="{{ url_for('titles') }}">Titles</a></li>
        <li><a href="{{ url_for('publisher') }}">Publishers</a></li>
      </ul>
  

  <ul class="sidenav green draken-2" id="mobile-demo">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('games') }}">Games</a></li>
    <li><a href="{{ url_for('reviews') }}">Reveiws</a></li>
    <li><a href="">Login</a></li>
    <li><a href="">Register</a></li>
    <li><a href="{{ url_for('titles') }}">Titles</a></li>
    <li><a href="{{ url_for('publisher') }}">Publishers</a></li>
    </ul>
   </nav>

  </div>

</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>
<footer>
  <footer class="page-footer green darken-2">
    <div class="footer-copyright">
        <div class="container">
           All images used in this site are for educational purposes only.
            <a class="blue-text text-darken-4 right" href="https://codeinstitute.net" target="_blank">&copy; Code Institute</a>
        </div>
    </div>
</footer>
 
  
</footer>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
