{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="height">
    <div class="col s12 m6 l5">
        <div class="card green transparent">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}"> 
            <span class="card-title"></span>
          </div>
          <div class="card-content white-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/codw.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image small">
            <img src="{{url_for('static', filename='image/sky.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/gta.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/sp.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/kartos.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/obliv.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/mgp.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/witcher3.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>The Witcher 3 : Wild Hunt is an action role-playing game with a third-person perspective. Players control Geralt of Rivia , a monster slayer known as the white wolf.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l5">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
</div>



  
{% endblock %}