{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m6 l3">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card green draken-2">
          <div class="card-image">
            <img src="{{url_for('static', filename='image/red2.png')}}">
            <span class="card-title"></span>
          </div>
          <div class="card-content blue-text text-darken-4">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      
      
     


</div>



  
{% endblock %}