{% extends "base.html" %}
{% block content %}
 

<div class="row">
    <div class="s1 m2">
      <div class="card transparent">
        <div class="card-content white-text text-darken-4 center-align">
          <span class="card-title">Publishers</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_publisher') }}" class="btn-large green darken-2">
            Add Publishers <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
<div class="row">
  <div></div>
  {% for publisher in publisher  %}
  <div class="col s12 m5 l3">
    <div class="card green darken-2 center-align">
      <div class="card-image s12 m6 13 center-align">
        <img src="{{url_for('static', filename='image/games.png')}}">
        <span class="card-title s12 m5 13">{{ publisher.publisher_name }}</span>
      </div>
      <div class="card-content white-text">
      </div>
      <div class="card-action">
        <a href="{{ url_for('edit_publisher', publisher_id=publisher.id) }}" class="btn black">Edit</a>
        <a href="{{ url_for('delete_publisher', publisher_id=publisher.id) }}" class="btn red" >Delete</a>
       </div>
     </div>
   </div>
 
{% endfor %}


      
       
        
{% endblock %}