{% extends "base.html" %}
{% block content %}
 
<div class="row">
    <div class="s1 m2">
      <div class="card transparent">
        <div class="card-content white-text text-darken-4 center-align">
          <span class="card-title">Games</span>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_game') }}" class="btn-large green darken-2">
            Add Games <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
<ul class="collapsible  green darken-2 white-text">
  {% for game in game %}
  <li>
    <div class="collapsible-header green-text darken-2">
      <i class="fa-solid fa-gamepad-modern"></i>
      <strong>{{ game.publisher_name }}</strong>
      
    </div>
    <div class="collapsible-body">
      <strong>{{ game.publisher_name }}</strong>
      <p>{{ game.game_name }}</p>

     
      
    </div>
  </li>
 {% endfor %}
    
</ul>
{% endblock %}