{% extends "base.html" %}
{% block content %}
<h3 class="hide"> Reviews </h3>
<div class="row">
  <div class="s1 m2">
    <div class="card transparent">
      <div class="card-content white-text text-darken-4 center-align">
        <span class="card-title">Games</span>
      </div>
    </div>
  </div>
</div>
<div class="row col s12 m3 l6">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_game') }}" class="btn-large green darken-2">
      Add Games <i class="fas fa-plus-square right"></i>
    </a>
  </div>
</div>
{% for p in publisher %}
{% for game in game %}
<h1>{{ game.game_name }}</h1>
<h1>{{ p.publisher_name }}</h1>

{% endfor %}
{% endfor %}
{% endblock %}